<style>
    .error {
        color: rgb(248, 71, 71);
        font-weight: 600;
    }
</style>


<div class="main-container">
    {{>adminHeader}}
    <div class="admin-body">
        {{!-- admin header box --}}
        <div class="admin-detail">
            <img src="/images/background.jpg" alt="admin-img">
            <div class="name">
                <h3 class="admin-name">{{admin}}</h3>
            </div>
        </div>
        
        <div class="createProduct-form">
            <h1>Edit Product</h1>
            <form enctype="multipart/form-data" id="updateProduct">
                <div class="inputParent">
                    <label for="productName">Product Name</label><br>
                    <input type="text" name="name" required value="{{product.name}}" id="name" />
                </div>

                <div class="error nameError"></div>

                <div class="inputParent">
                    <label for="productImg">Product image</label><br>
                    <input type="file" name="image" value="{{product.image}}" required id="image" />
                </div>

                <div class="error imageError"></div>

                <div class="inputParent">
                    <label for="description">Product Description</label><br>
                    <input type="text" name="description" value="{{product.description}}" required id="description" />
                </div>
                <div class="error descError"></div>
                <div class="inputParent">
                    <label for="price">Product price</label><br>
                    <input type="text" name="price" value="{{product.price}}" required id="price" />
                </div>
                <div class="error priceError"></div>
                <div class="inputParent">
                    <label for="type">Product type</label><br>
                    <select name="type" id="type">
                        <option value="food">Food</option>

                        <option value="acccessories">Accessories</option>
                    </select>
                </div>
                <div class="error typeError"></div>
                <button type="submit" id="updateProduct">update product</button>

            </form>


        </div>
    </div>
</div>


<script src="/javascripts/admin/updateProductHandler.js">
</script>